.container {
    background-color: #c5c5c5;
    background-image: url(fons/fon-3.jpg);
 }

#products-grid .product {   
    padding: 26px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #61707a;
    text-align: center; 
}



#products-grid .category .info {
    padding: 6px 20px;
}

h2 {
    
    padding: 4px;
    color: #274253;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h3 {
    display: inline-block;
    color:#5c1222 ;
}

img {
    max-width: 100%;
    border: 1px solid #707070;
}

.container {
    max-width: 94%;
}




.owl-nav .owl-prev span,
.owl-nav .owl-next span {
    font-size: 42px;
    margin: 10px;
}


